.git
.github
.env
.env.*
auth.json
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/storage
.phpunit.cache
.phpunit.result.cache
tests
